.site_name {
  color: black;
  text-align: center;
  padding: 0px;
  border-bottom: solid 2px rgb(252, 82, 82);
}
.g-icon {
  height: 250px;
  width: 250px;
  margin: 1px;
  background-color: transparent; 
    opacity: 0.8; 
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.Banner {
  height: 40px;
  width: 100%;
}
@keyframes g-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* .App-Banner {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */