.banner {
  color: black;
  text-align: center;
  padding: 0px;
  border-bottom: solid 0px #FD2D01;
  height: auto;
  width: 100%;
  background-color: #FFD7D7;
  min-height: 100px;
  font-family: Trebuchet Helvetica sans-serif;
}
.b-icon {
  height: 220px;
  width: 220px;
  outline: none;
  background-color: transparent; 
    opacity: 0.9; 
}
.banner-text{
  margin-top: -60px;
  font-size: 25px;
  padding-bottom: 20px;
}
