.banner {
  color: black;
  text-align: center;
  padding: 0px;
  border-bottom: solid 2px #9356DC;
  height: auto;
  width: 100%;
  background-color: rgb(231, 173, 239);
  min-height: 100px;
  font-family: Trebuchet Helvetica sans-serif;
  box-shadow: 2px 2px 2px 2px #a571e6;
  background-color: transparent; 
    opacity: 0.8; 
}
.b-icon {
  height: 220px;
  width: 220px;
  outline: none;
  background-color: transparent; 
    opacity: 0.9; 
}
.banner-text{
  margin-top: -50px;
  font-size: 25px;
}
