.headerContainer {
  height: 70px;
  width: auto;
  background-color: #ffd7d7;
}
.linkButtons {
  padding: 5px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-family: Trebuchet sans-serif;
  color: #46474b;
  font-size: 18px;
  border: #f2f2f2 2px;
  border-radius: 10px;
  margin: 2px;

  &:hover {
    color: #fff;
    box-shadow: inset 200px 2px 2px 2px #fd2d01;
  }
}
.linkContainer {
  padding: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.siteLogo {
  display: flex;
  height: 70px;
  width: 70px;
}
