.login{
  color:#9356DC;
  
}

.loginContainer{
  display: flex;
	justify-content: center;
 
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.inputPart{
  height: 50px;
  width: 500px;
  border-radius: 10px;
  background-color: #f3f3f3;
  border: solid #F2F2F2 2px;
  &:hover {
    box-shadow: inset 200px 2px 2px 2px #9356DC;
    box-shadow: 2px 2px 2px 2px #a571e6;
  }
}
.submitButton{
  margin-top: 8px;
  height: 25px;
  width: 70px;
  background-color:#F2F2F2;
  border-radius: 10px;
  border: solid #F2F2F2 2px;
  &:hover {
    box-shadow: inset 200px 2px 2px 2px #9356DC;
    box-shadow: 2px 2px 2px 2px #a571e6;
  }
}