.postDetailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.postContent {
  display: flex;
  margin-top: 20px;
  text-align: center;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.postContent img,
.postContent video,
.postContent audio {
  max-width: 100%;
  margin-top: 10px;
  border-radius: 4px;
}

button:hover {
  color:white;
  background-color: darkred;
}
.postDetailsButton{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.postDetailContainer{
  display: flex;
}
.editForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-part{
  display: flex;
  max-height: 600px;
  width: 500px;
}
.media-link-part{
  display: flex;
  max-height: 300px;
  width: 300px;
}
