.signUp{
  color:black;
  padding-left: 100px;
  
}
.signin{
  color:red;
  
}
.inputPart{
  height: 50px;
  width: 500px;
  border-radius: 10px;
  border: solid plum 2px;
}
.signinPass{
  margin-left: -25px;
}